<div class="container">
  <div style="height: 55vh" class="row align-items-center">
    <div class="col-md-4 offset-md-4 col-sm-12">
      
      <hr>
      <%= link_to "페이스북 계정으로 로그인", user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-lg btn-block text-white" %>
      <%= link_to "네이버 계정으로 로그인", user_naver_omniauth_authorize_path, class: "btn btn-success btn-lg btn-block text-white" %>
      <%= link_to "구글 계정으로 로그인", user_google_oauth2_omniauth_authorize_path, class:"btn btn-warning btn-lg btn-block text-white" %>
      
      
      <hr>
      <!--<h2 class='display-5 text-center'><%= t('.sign_in') %></h2>-->
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="actions">
          <%= f.submit t('.sign_in'), class: "btn btn-primary btn-lg btn-block" %>
        </div>
      
      
      <% end %>
      
      <%= render "devise/shared/links" %>
      
      <hr>
     
      
    <!--<%- if devise_mapping.omniauthable? %>-->
    <!--  <%- resource_class.omniauth_providers.each do |provider| %>-->
    <!--    <%= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider) %><br />-->
    <!--  <% end -%>-->
    <!--<% end -%>-->
    </div>
  </div>
</div>