<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" rel="stylesheet">
  <style>
    .ngc{font-family: 'Nanum Gothic Coding', monospace;}
  </style>
  
  
  <title>밤이 좋아, 야호</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    params[:controller], media: 'all' %> 
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

</head>
<body>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <a href='/posts/1'><img width='200' src="<%= image_path 'logo1.png' %>"></a>
      	<!--<a href='/cate1/1'><img width='200' src="https://postfiles.pstatic.net/MjAxODA3MjRfMjQ0/MDAxNTMyMzc4NTg0MTgy.V0zq9Ha1fhlqovUp2pIccSYEegCqkvzCC_q0xeuCrHMg.12N4xDe0gH2x6Fmcia0P70mxJQ7-ig3i3b2bW6EsbQMg.PNG.kitty49/logo2.png?type=w773"></a>-->
      	<!--<br><br><br><br><br>-->
      	<!--<strong><a href='/cate1/1'>밤이 좋아, 야호(夜好)</a></strong>-->
      </div>	
    
      <!--<div class="col-md-4"></div>-->
      
      <div class="text-right col-md-4 offset-md-4 col-xs-6">	<% if user_signed_in? %>
          <strong><%= current_user.name %></strong>님 환영합니다.
          <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "btn btn-outline-info btn-sm" %>
        <!--그렇지 않으면-->
        <% else %>
          <%= link_to '로그인', new_user_session_path, class: "btn btn-outline-info btn-sm" %>
          <%= link_to '회원가입', new_user_registration_path, class: "btn btn-outline-info btn-sm" %>
        <% end %>
      </div>
    </div>  
  </div>
  
  <br>
  
 
  <div class="container">
  	<%= yield %>
	</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body>
</html>